body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  display: flex;
  gap:2rem;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 8px 4px 4px rgba(0,0,0,0.2);
  width: 60%;
  padding: 1rem;
}

.task-card:hover {
  cursor: grab;
}

.task-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs{
  display: flex;
}

#todo-cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.warn{
  background-color: rgb(255, 196, 0);
}

.late{
  background-color: rgb(163, 11, 11);
}

.highlight {
  /* Add styles to highlight the lane */
  background-color: peachpuff;
}